label.accept
    input(type='checkbox' name='accept' required checked).accept__input
    span.accept__fake
        span.accept__check
            <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 8.68L5.5 13L18 1" stroke="currentColor" stroke-width="2"/>
            </svg>
        span.accept__txt.
            Даю согласие на обработку <a href="/agree/">Персональных данных</a>