.promo
    .promo__block
        .promo__img
            picture
                source(srcset="/images/content/promo/bg.webp" media='(max-width: 767.98px)')
                source(srcset="/images/content/promo/img-1.webp" media='(max-width: 1919.98px)')
                img(src="/images/content/promo/img-1.webp" alt='lorem')
        .promo__man
            img(src="/images/content/promo/img-2.webp" alt="lorem")
    .promo__content
        h2.promo__title ЕСТЬ ПРЕДЛОЖЕНИЯ ОТ ДРУГИХ КОМПАНИЙ?
        .promo__txt Пришлите его нам, без потери качества материала, сделаем вам предложение дешевле на 15-25%
        button(type='button' data-event='openForm').promo__btn Заказать рассчет