-
    var GLOBALS = {
        addr: 'г. Краснодар, Калинина 289<br><a href="mailto:kristallstore@yandex.ru">kristallstore@yandex.ru</a>',
        tels: [
            {
                href: 'tel:88612441363',
                val: '8 861 244 13 63'
            },
            {
                href: 'tel:89180416655',
                val: '8 918 041 66 55'
            }
        ],
        nav:[
            {
                name: 'Услуги',
                href: '#services'
            },
            {
                name: 'Как заказать',
                href: '#how'
            },
            {
                name: 'товары',
                href: '#products'
            },
            {
                name: 'примеры работ',
                href: '#works'
            },
            {
                name: 'отзывы',
                href: '#revs'
            },
            {
                name: 'контакты',
                href: '#contacts'
            },

        ]
    };