.banner
    h2.banner__title Просчитаем смету системы отопления
    .banner__sub с выгодой до 25%
    button(type='button' data-event='openForm').banner__btn Заказать расчет
    .banner__img
        img(src="/images/content/banner/img.webp" alt="Просчитаем смету системы отопления")